<div class="container__big_card">
  <div class="big-card__photo">
    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyb1POX7-N3jQb1KwEN57vITzhKVlinV2bpQ&usqp=CAU"
    alt=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vivamus facilisis mi ac sem imperdiet sodales. Duis gravida odio eget congue laoreet.
        Aliquam eleifend leo nisi, vitae placerat risus dictum id. In hac habitasse platea dictumst.
        Aenean pulvinar erat quis nisl maximus, et gravida sapien ultrices.
      </a>
    </p>
  </div>
</div>
